<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>xuanhuanServlet</servlet-name>
    <servlet-class>novel_fenlei.xuanhuanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>novelchaxunServlet</servlet-name>
    <servlet-class>novelbianji.novelchaxunServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>novelbianji.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>novelxiugaiServlet</servlet-name>
    <servlet-class>novelbianji.novelxiugaiServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>xuanhuanServlet</servlet-name>
    <url-pattern>/servlet/xuanhuanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>novelchaxunServlet</servlet-name>
    <url-pattern>/servlet/novelchaxunServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/servlet/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>novelxiugaiServlet</servlet-name>
    <url-pattern>/servlet/novelxiugaiServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>denglu.jsp</welcome-file>
  </welcome-file-list>
</web-app>
